<!-- State estimation based on noisy MoCap data and Imu-->

<!-- 
	Required measurements:
 		MoCap data published on /qualisys/(mocap_name)
		Imu data published on /imu 
-->


<launch>    
    <!-- load parameters -->
    <rosparam command="load" file="$(find f1tenth_localization)/params/ekf_parameters_mocap.yaml"/>
    
    <!--  make sure all nodes subscribe to /clock (required for simulated data) -->
    <!-- <param name="/use_sim_time" value="true"/> -->
    
	<!-- set the name of the mocap source (for the mocap_to_x nodes) -->
	<param name="mocap_name" value="F1Tenth"/>
	

	<!-- simulate noisy measurements -->
	<node pkg="sensor_helpers" type="mocap_to_odom.py" name="odom"/>
	<node pkg="sensor_helpers" type="odometry_noise.py" name="noise"/>
	<node pkg="sensor_helpers" type="set_timestamps.py" name="timestamp_node"/>
	<node pkg="sensor_helpers" type="imu_to_odom.py" name="imu_to_odom">
		<remap from="/imu" to="/imu/measurements"/>
	</node>
	<node pkg="sensor_helpers" type="imu_visualization_transform.py" name="imu_transform_rviz"/>

    <!-- start rviz with config file --> 
    <node pkg="rviz" type="rviz" name="rviz" args="-d /home/linus/.rviz/qualisys.rviz"/>
    
    <!-- define transforms betweem the standard frames --> 
    <!-- <node pkg="tf" type="static_transform_publisher" name="map_frame" args="0 0 0 0 0 0 qualisys map 100" /> -->
    <node pkg="tf" type="static_transform_publisher" name="world_frame" args="0 0 0 0 0 0 qualisys odom 100" />
    <!-- <node pkg="tf" type="static_transform_publisher" name="Imu_frame" args="0 0 0 0 0 0 base_link base_imu_link 100" /> -->
	<node pkg="tf" type="static_transform_publisher" name="Imu_frame" args="0 0 0 3.14159 0 0 base_link base_imu_link 100"/>
	<!-- 1.5707963267948966 -->
	
	<!-- start and configure the ekf_localization node --> 
    <node pkg="robot_localization" type="ekf_localization_node" name="mocap_ekf"/>

</launch>
