<!-- Starts the IMU, reach module and serial node on the f1tenth -->

<!-- 
	Note: the ACM ports will be numbered in the order the devices are plugged in, so these values might have to be adjusted
-->


<launch>
    <node pkg="sensor_helpers" type="razor_imu.py" name="razor_imu" output="screen"/>
<!--    <node pkg="sensor_helpers" type="gps_node.py" name="gps_reach" output="screen"> --> 
        <param name="port" value="/dev/ttyUSB0"/>
    </node>
<!--     <node pkg="rosserial_python" type="serial_node.py" name="serial_node" args="/dev/ttyUSB0" output="screen"/>  --> 

</launch>
